<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회사소개::채용</title>
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/company/companyIntro.css" rel="stylesheet">
    <style>
        .main-header .nav a:nth-child(4) {text-decoration: underline;}
    </style>
</head>
<body>
<!-- ■■■■■ 헤더 ■■■■■ -->
<div th:replace="~{company/_header.html}"></div>
<!-- □□□□□ 헤더 □□□□□ -->
<main class="mincheolkang">
    <section class="recruit-main">
        <!-- 메인 타이틀 -->
        <header class="recruit-header">
            <h2 class="recruit-title">
                쇼핑을 새롭게, 세상을 이롭게 이끌<br>
                쇼핑 좀 해본 인재를 모십니다!
            </h2>
            <p class="recruit-subtitle">
                케이마켓은 안정성 있고 혁신성 있게 우리의 문화를 만들어가고 있어요.<br>
                구성원들은 수평적이고 자율적인 문화 속에서 개선을 넘어서 혁신적인 케이마켓만의 서비스를 만들어요.<br>
                케이마켓과 함께 굵은점을 찍어가며 성장하실 분들을 기다립니다.
            </p>
        </header>
        <table class="recruit-table">
            <tr>
                <th>번호</th>
                <th>채용부서</th>
                <th>경력사항</th>
                <th>채용형태</th>
                <th>제목</th>
                <th>상태</th>
                <th>모집기간</th>
            </tr>
            <tr th:each="r : ${recruitList}">
                <td th:text="${r.rNo}"></td>
                <td th:text="${r.rDept}"></td>
                <td th:text="${r.rCareer}"></td>
                <td th:text="${r.rType}"></td>
                <td th:text="${r.rTitle}"></td>
                <td th:text="${r.rStatus}"
                    th:classappend="${r.rStatus eq '마감'} ? 'status closed' : 'status open'">
                </td>


                <td th:text="${#temporals.format(r.rStartDate, 'yyyy-MM-dd')} + ' ~ ' + ${#temporals.format(r.rEndDate, 'yyyy-MM-dd')}"></td>
            </tr>
        </table>

        <div class="Pagenation" style="text-align:center;">

            <a th:if="${currentPage > 1}"
               th:href="@{/company/recruit(page=${currentPage - 1})}">이전</a>

            <span th:each="i : ${#numbers.sequence(1, totalPages)}">
    <a th:href="@{/company/recruit(page=${i})}"
       th:text="${i}"
       th:classappend="${i == currentPage} ? 'active' : ''"
       style="margin:0 4px; text-decoration:none;"></a>
</span>

            <a th:if="${currentPage < totalPages}"
               th:href="@{/company/recruit(page=${currentPage + 1})}">다음</a>

        </div>

    </section>

</main>
<!-- ■■■■■ 푸터 ■■■■■ -->
<div th:replace="~{company/_footer.html}"></div>
<!-- □□□□□ 푸터 □□□□□ -->
</body>
</html>