<article id="buyConfirm" class="modal">
    <div class="modal-window">
        <div class="modal-titleBar">
            <h2>구매확정</h2>
            <span id="closeBCModal" class="close">&times</span>
        </div>
        <div class="modal-content">
            <p>
                상품을 받으셨나요?<br>
                상품을 받으신 분만 구매확정을 해주세요.
            </p>
            <div>
                <button class="BCConfirmButton">확인</button>
                <button id="confirmCancel" class="BCCancelButton">취소</button>
            </div>
        </div>
    </div>
    <!--■■■■■모달 창 스크립트■■■■■-->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const modal = document.getElementById("buyConfirm");
            const closeModalButton = document.getElementById("closeBCModal");
            const confirmCancelButton = document.getElementById("confirmCancel");
            const buyConfirmButton = document.getElementsByClassName("BCConfirmButton")[0];
            let orderNum = 0;
            let clickedConfirmButton = null;

            document.addEventListener('click', function (e) {
                if(e.target.name === 'buyConfirm') {
                    e.preventDefault();
                    orderNum = e.target.getAttribute('order');
                    clickedConfirmButton = e.target;

                    modal.style.display = "flex";
                }
            });

            buyConfirmButton.onclick = function () {
                fetch('[[@{/my/modal/confirm/}]]' + orderNum)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        if(!data){
                            alert('구매 확정 진행 중 오류가 발생했습니다.');
                        } else {
                            alert('구매 확정 되었습니다.');
                            // 버튼 뒤의 <br> 제거
                            // 옵셔널 체이닝 `?.` : 왼쪽 값이 null 또는 undefined면, 에러 대신 undefined를 반환하고 평가를 중단
                            if (clickedConfirmButton?.nextElementSibling?.tagName === 'BR') {
                                clickedConfirmButton.nextElementSibling.remove();
                            }
                            clickedConfirmButton.remove();
                            const buyConfirmTds = document.querySelectorAll(`[state="${orderNum}"]`);
                            console.log(buyConfirmTds);
                            for (const td of buyConfirmTds) {
                                td.innerText = '구매확정';
                                td.style.color = 'blue';
                                td.style.fontWeight = 'bold';
                            }
                            modal.style.display = "none";
                        }
                    })
                    .catch(err => {
                        console.log(err);
                    });
            }

            closeModalButton.onclick = function () {
                modal.style.display = "none";
            }

            confirmCancelButton.onclick = function () {
                modal.style.display = "none";
            }
        });
    </script>
</article>
<!-- 강민철 2025-10-21 0954 -->