<article id="orderDetails" class="modal">
    <div class="modal-window">
        <div class="modal-titleBar">
            <h2>주문상세</h2>
            <p class="orderDate">20xx-12-13</p>
            <span id="closeODModal" class="close">&times</span>
        </div>
        <div class="modal-content">
            <h3>결제정보</h3>
            <table class="payInfo">
                <tbody>
                <tr>
                    <th>주문금액</th>
                    <td class="orderPrice">64000원</td>
                </tr>
                <tr>
                    <th>상품금액</th>
                    <td class="prodPrice">4000원</td>
                </tr>
                <tr>
                    <th>배송비</th>
                    <td class="delivPrice">4000원</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>포인트 사용</th>
                    <td class="pointUsage">100원</td>
                </tr>
                <tr>
                    <th>결제금액</th>
                    <td><b class="payPrice">59900원</b></td>
                </tr>
                </tfoot>
            </table>
            <h3>주문정보</h3>
            <table class="orderInfo">
                <tbody>
                    <tr>
                        <th>날짜</th>
                        <th colspan="2">상품정보</th>
                        <th>상태</th>
                    </tr>
                </tbody>
            </table>
            <h3>배송정보</h3>
            <table class="delivInfo">
                <tr>
                    <td>이름</td>
                    <td class="recName">홍길동</td>
                </tr>
                <tr>
                    <td>연락처</td>
                    <td class="recPhone">010-1234-1001</td>
                </tr>
                <tr>
                    <td>주소</td>
                    <td class="recAddress">[210**] 부산광역시 부산진구 대연동 121 10층 1004호</td>
                </tr>
                <tr>
                    <td>배송요청사항</td>
                    <td class="delivAsk">없음</td>
                </tr>
            </table>

        </div>
    </div>
    <!--■■■■■모달 창 스크립트■■■■■-->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const modal = document.getElementById("orderDetails");
            const closeModalButton = document.getElementById("closeODModal");

            // 결제정보 요소
            const payInfo = document.getElementsByClassName('payInfo')[0];
            const orderPriceTd = payInfo.getElementsByClassName('orderPrice')[0];
            const prodPriceTd = payInfo.getElementsByClassName('prodPrice')[0];
            const delivPriceTd = payInfo.getElementsByClassName('delivPrice')[0];
            const pointUsageTd = payInfo.getElementsByClassName('pointUsage')[0];
            const payPriceTd = payInfo.getElementsByClassName('payPrice')[0];

            // 주문정보 요소
            const orderInfo = document.getElementsByClassName('orderInfo')[0]
                .getElementsByTagName("tbody")[0];

            // 배송정보 요소
            const delivInfo = document.getElementsByClassName('delivInfo')[0];
            const recName = delivInfo.getElementsByClassName('recName')[0];
            const recPhone = delivInfo.getElementsByClassName('recPhone')[0];
            const recAddress = delivInfo.getElementsByClassName('recAddress')[0];
            const delivAsk = delivInfo.getElementsByClassName('delivAsk')[0];

            document.addEventListener('click', function (e) {
                if (e.target.className === 'orderNum') {
                    e.preventDefault();

                    const u_id = "[[${#authentication.principal.username}]]";
                    // console.log(u_id);
                    const po_no = e.target.getAttribute('order');
                    // console.log(po_no);

                    fetch(`/my/modal/orderDetail/${u_id}/${po_no}`)
                        .then(response => response.json())
                        .then(data => {
                            // console.log(data);
                            document.getElementsByClassName('orderDate')[0].innerText
                            = data[0].poOrderdate;

                            // 결제정보 입력
                            let formattedPrice = new Intl.NumberFormat().format(data[0].poSumPrice - data[0].poDiscount + data[0].poDeliveryPrice);
                            orderPriceTd.innerText = formattedPrice + '원';
                            formattedPrice = new Intl.NumberFormat().format(data[0].poSumPrice - data[0].poDiscount);
                            prodPriceTd.innerText = formattedPrice + '원';
                            formattedPrice = new Intl.NumberFormat().format(data[0].poDeliveryPrice);
                            delivPriceTd.innerText = formattedPrice + '원';
                            formattedPrice = new Intl.NumberFormat().format(data[0].poPriDiscount);
                            pointUsageTd.innerText = formattedPrice + '원';
                            formattedPrice = new Intl.NumberFormat().format(data[0].poSumPrice - data[0].poDiscount + data[0].poDeliveryPrice - data[0].poPriDiscount);
                            payPriceTd.innerText = formattedPrice + '원';

                            // 주문정보 입력
                            for (const item of data) {
                                // 가격 포맷팅: 쉼표 추가
                                let formattedPrice = new Intl.NumberFormat().format(item.oiTotPrice);

                                const itemTableRow = `<tr class="orderItem">
                                                            <td>${item.poOrderdate}</td>
                                                            <td><img src="/images/로고.png"/></td>
                                                            <td>
                                                                주문번호 : <span class="orderNum">${item.poNo}</span><br>
                                                                <span class="sellerName">${item.scompanyName}</span><br>
                                                                <span class="productName">${item.pname}</span><br>
                                                                수량 : <span class="prodQuantity">${item.oiProdQty}</span>개<br>
                                                                <b class="unitPrice">${formattedPrice}원</b>
                                                            </td>
                                                            <td>${item.oiDelStatus}</td>
                                                        </tr>`;
                                // console.log(item);

                                orderInfo.insertAdjacentHTML('beforeend', itemTableRow);
                            }

                            // 배송정보 입력
                            recName.innerText = data[0].poRecipient;
                            recPhone.innerText = data[0].poRePhone;
                            recAddress.innerText = '['+data[0].poPostal+'] '+data[0].poBaseAddr+' '+data[0].poDetailAddr;
                            delivAsk.innerText = data[0].poRequestNote;

                            // 포인트 혜택 입력
                            if(data[0].poGetPoint > 0){
                                const earnedPointTable = `<div class="pointInfo-wrapper">
                                                                <h3>포인트 혜택</h3>
                                                                <table class="pointInfo">
                                                                    <tr>
                                                                        <th>적립 포인트</th>
                                                                        <th>${data[0].poGetPoint}원</th>
                                                                    </tr>
                                                                </table>
                                                            </div>`;
                                delivInfo.insertAdjacentHTML('afterend', earnedPointTable);
                            }

                            modal.style.display = "flex";
                        })
                        .catch(err => {
                            console.log(err);
                        });

                }
            });

            closeModalButton.onclick = function () {
                const orderItems = Array.from(document.getElementsByClassName('orderItem'));
                const pointInfoWrapper = document.getElementsByClassName('pointInfo-wrapper')[0];

                orderItems.forEach(function(orderItem) {
                    orderItem.remove();
                });
                if(pointInfoWrapper != null) {
                    pointInfoWrapper.remove();
                }

                modal.style.display = "none";
            }
        });
    </script>
</article>
<!-- 강민철 2025-10-17 0930 -->