<th:block th:fragment="content">
    <link rel="stylesheet" href="/css/admin/ask-view.css">
        <!-- ■■■■■ 메인컨텐츠 시작 ■■■■■ -->
        <div class="page">
            <div class="topbar">
                <h4>문의하기 보기</h4>
                <div class="breadcrumb">HOME &gt; 고객센터 &gt; <b>문의하기</b></div>
            </div>

            <table class="view" th:object="${dto}">
                <tr>
                    <th>유형</th>
                    <td th:text="${lv1Name + ' - ' + lv2Name}">회원 - 가입</td>
                </tr>
                <tr>
                    <th>제목</th>
                    <td  th:text="${dto.boardTitle}"></td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td th:utext="${#strings.replace(#strings.escapeXml(dto.boardContent) ?: '', '\n', '<br/>')}">
                    </td>
                </tr>

                <tr>
                    <th>답변</th>
                    <td class="answer">
                        <!-- 답변이 있을 때 -->
                        <p th:if="${dto.boardAnswer != null and !#strings.isEmpty(dto.boardAnswer)}"
                           th:text="${dto.boardAnswer}"></p>

                        <!-- 답변이 없을 때 -->
                        <p th:unless="${dto.boardAnswer != null and !#strings.isEmpty(dto.boardAnswer)}"
                           style="color: #999;">아직 답변이 등록되지 않았습니다.</p>
                    </td>
                </tr>


            </table>
            <!-- 테이블 하단 영역 -->
            <div class="btn-area">
                <a th:href="@{/admin/cs/qna/delete(id=${dto.boardId})}"
                                     class="btn-delete"
                                     onclick="return confirm('정말 삭제하시겠습니까?');">삭제</a>
                <a th:href="@{/admin/cs/qna/reply(id=${dto.boardId})}" class="btn-edit">답변하기</a>
                <a th:href="@{/admin/cs/qna/list}" class="btn-list">목록</a>
            </div>

        </div>
        <!-- □□□□□ 메인컨텐츠 종료 □□□□□ -->
        <!-- □□□□□ 메인컨텐츠 종료 □□□□□ -->
        <!-- □□□□□ 메인컨텐츠 종료 □□□□□ -->

</th:block>