<div th:fragment="_header">
    <header class="header">

        <!-- 상단 광고 -->
        <div class="header_bar">
            <a href="#"><img src="/images/광고.png" alt="메인 상단 광고"></a>
        </div>


        <!-- 우상단 작은 메뉴 -->
        <div class="top-menu">
            <!-- 로그인하지 않은 경우 -->
            <div th:unless="${#authentication.isAuthenticated() and #authentication.name != 'anonymousUser'}">
                <a href="/member/login">로그인</a>
                <a href="/member/join">회원가입</a>
            </div>
            
            <!-- 로그인한 경우 -->
            <div th:if="${#authentication.isAuthenticated() and #authentication.name != 'anonymousUser'}">
                <!-- 관리자인 경우 -->
                <span class="welcome-message" th:if="${@customUserDetailsService.isAdmin(#authentication.principal.username)}">
                    <a href="/admin/" style="text-decoration: none; color: #1976d2;">
                        <span style="color: #1976d2;" th:text="${@customUserDetailsService.getUserName(#authentication.principal.username)}"></span>님 환영합니다.
                    </a>
                </span>
                <!-- 일반 사용자인 경우 -->
                <span class="welcome-message" th:unless="${@customUserDetailsService.isAdmin(#authentication.principal.username)}">
                    <span th:text="${@customUserDetailsService.getUserName(#authentication.principal.username)}"></span>님 환영합니다.
                </span>
                <a href="/my/home">마이페이지</a>
                <a href="/product/cart">장바구니</a>
                <a href="/member/logout">로그아웃</a>
            </div>
        </div>

        <!-- 헤더 메인 -->
        <div class="main-header">
            <div class="logo">
                <!-- 로고 -->
                <a href="/"><img src="/images/로고.png" alt="로고"></a>
            </div>
        </div>
    </header>
</div>