<div class="sidebar" th:fragment="_sidebar">
    <aside class="MyPage-menu">
        <nav>
            <a th:href="@{/my/order}">
                <span>📦</span>
                <span>전체주문내역</span>
            </a>
            <a th:href="@{/my/point}">
                <span>💰</span>
                <span>포인트내역</span>
            </a>
            <a th:href="@{/my/coupon}">
                <span>🎫</span>
                <span>쿠폰</span>
            </a>
            <a th:href="@{/my/review}">
                <span>⭐</span>
                <span>나의리뷰</span>
            </a>
            <a th:href="@{/my/qna}">
                <span>❓</span>
                <span>문의하기</span>
            </a>
            <a th:href="@{/my/info}">
                <span>⚙️</span>
                <span>나의설정</span>
            </a>
        </nav>
    </aside>
</div>