<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이페이지::메인</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/my/myPage.css">
</head>
<body>
    <!-- ■■■■■ 헤더 ■■■■■ -->
    <div class="header-wrap" th:replace="~{my/_header.html}"></div>
    <!-- □□□□□ 헤더 □□□□□ -->
    <!-- 마이페이지 요약 정보 -->
    <!-- DB연결 예정 for each -->
    <div style="width: 100%;  background-color: #f2f2f2; display: flex; flex-direction: column; position: sticky; top: 0; height: 100px;max-width: 1920px;
            margin: 0 auto;">
        <div class="summary" style="display: inline-flex; min-width: 1060px; margin: 0 auto; width: 100%;">
            <div style="margin-left: 5%; margin-right: auto; display: flex; align-items: center; height: 100px;">
                <span style="font-size: 24px; font-weight: bold;">나의쇼핑정보</span>
            </div>
            <div style="width: 25%; margin-right: 5%; display: flex; align-items: center;">
                <table style="border-collapse: collapse; text-align: center; width: 100%; height: 70%;">
                    <colgroup>
                        <col style="width: 25%;">
                        <col style="width: 25%;">
                        <col style="width: 25%;">
                        <col style="width: 25%;">
                    </colgroup>
                    <tr>
                        <th style="border-right: solid 1px #d9d9d9;">주문</th>
                        <th style="border-right: solid 1px #d9d9d9;">쿠폰</th>
                        <th style="border-right: solid 1px #d9d9d9;">포인트</th>
                        <th>문의</th>
                    </tr>
                    <tr>
                        <td style="border-right: solid 1px #d9d9d9;">[[${userOrderCount}]]</td>
                        <td style="border-right: solid 1px #d9d9d9;">[[${userCouponCount}]]</td>
                        <td style="border-right: solid 1px #d9d9d9;"><span th:text="${#numbers.formatInteger(userPoints, 3, 'COMMA')}"></span></td>
                        <td>[[${userQnaCount}]]</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- ■■■■■ 사이드바 ■■■■■ -->
        <div th:replace="~{my/_sidebar.html}"></div>
        <!-- □□□□□ 사이드바 □□□□□ -->
    </div>
    <main class="mincheolkang" style="display: flex; flex-wrap: nowrap;">
        <!-- ■■■■■ 사이드바 공간 ■■■■■ -->
        <div style="width: 25%; height: 1px; min-width: 240px;"></div>
        <!-- □□□□□ 사이드바 공간 □□□□□ -->
        <section class="main-content" style="margin-left: 10px;">
            <div class="ad-banner" style="width: 100%; height: 86px; text-align: center;">
                <img src="/images/adv.png" style="width: 810px; height: 100%;">
            </div>
            <section>
                <div style="display: flex; align-items: center;">
                    <h3 style="margin-right: auto;">최근주문내역</h3>
                    <a th:href="@{/my/order}" style="margin-right: 20px;">더보기 ></a>
                </div>
                <table class="orderList myPageTable">
                    <tr>
                        <th>날짜</th>
                        <th colspan="2">상품정보</th>
                        <th>상태</th>
                        <th>확인/신청</th>
                    </tr>
                    <tr th:each="order : ${orderDTOList}" th:object="${order}">
                        <td>[[*{poOrderdate}]]</td>
                        <td><img src="/images/logo.png"/></td>
                        <td>
                            <a href="#" class="orderNum" th:attr="order=*{poNo}">주문번호 : [[*{poNo}]]</a><br>
                            <a href="#" class="tradeName">[[*{sCompanyName}]]</a><br>
                            <a href="#">[[*{pName}]]</a><br>
                            수량 : [[*{oiProdQty}]]개<br>
                            <b><span th:text="${#numbers.formatInteger(order.oiTotPrice, 3, 'COMMA')} + '원'">totPrice</span></b>
                        </td>
                        <td th:if="*{poState} != '구매확정'" th:attr="name='state', order=*{poNo}">[[*{oiDelStatus}]]</td>
                        <td th:if="*{poState} == '구매확정'" style="color: blue; font-weight: bold;">[[*{poState}]]</td>
                        <td>
                            <button name="buyConfirm" class="blueButton" th:attr="order=*{poNo}"
                                    th:if="*{oiDelStatus} == '배송완료' and *{poState} != '구매확정'">구매확정</button><br th:if="*{oiDelStatus} == '배송완료' and *{poState} != '구매확정'">
                            <button name="productReview" class="blueButton">상품평쓰기</button><br>
                            <button name="returnRequest">반품신청</button><br>
                            <button name="exchangeRequest">교환신청</button>
                        </td>
                    </tr>
                </table>
                <div style="display: flex; align-items: center;">
                    <h3 style="margin-right: auto;">포인트적립내역</h3>
                    <a th:href="@{/my/point}" style="margin-right: 20px;">더보기 ></a>
                </div>
                <table class="pointList myPageTable">
                    <tr>
                        <th>날짜</th>
                        <th>구분</th>
                        <th>주문번호</th>
                        <th>적립금액</th>
                        <th>비고</th>
                        <th>유효기간</th>
                    </tr>
                    <tr th:each="point : ${pointDTOList}" th:object="${point}">
                        <td>[[*{poOrderdate}]]</td>
                        <td>[[*{uhText}]]</td>
                        <td>[[*{uhPoNo}]]</td>
                        <td>[[*{uhChangePoint}]]</td>
                        <td>[[*{poState}]]</td>
                        <td>[[*{uhDday}]]</td>
                    </tr>
                </table>
                <div style="display: flex; align-items: center;">
                    <h3 style="margin-right: auto;">상품평</h3>
                    <a th:href="@{/my/review}" style="margin-right: 20px;">더보기 ></a>
                </div>
                <table class="productReviews myPageTable">
                    <tr>
                        <th>번호</th>
                        <th>상품명</th>
                        <th>내용</th>
                        <th>평점</th>
                        <th>작성일</th>
                    </tr>
                    <tr th:each="review, iterStat : ${reviewDTOList}" th:object="${review}">
                        <td>[[${iterStat.count}]]</td>
                        <td>[[*{pName}]]</td>
                        <td>[[*{prBody}]]</td>
                        <td>[[*{prStar}]]</td>
                        <td>[[*{prRegDate}]]</td>
                    </tr>
                </table>
                <div style="display: flex; align-items: center;">
                    <h3 style="margin-right: auto;">문의내역</h3>
                    <a th:href="@{/my/qna}" style="margin-right: 20px;">더보기 ></a>
                </div>
                <table class="inquiryDetails myPageTable">
                    <tr>
                        <th>번호</th>
                        <th>문의채널</th>
                        <th>문의유형</th>
                        <th>제목</th>
                        <th>작성일</th>
                        <th>상태</th>
                    </tr>
                    <tr th:each="qna, inerStat : ${qnaDTOList}" th:object="${qna}">
                        <td>[[${inerStat.count}]]</td>
                        <td>[[*{bListener}]]</td>
                        <td>[[*{boardTypeDTO.btName}]]</td>
                        <td>[[*{bTitle}]]</td>
                        <td>[[*{bRegDate}]]</td>
                        <td>[[*{bState}]]</td>
                    </tr>
                </table>
                <div style="display: flex; align-items: center;">
                    <h3>나의 설정</h3>
                </div>
                <section class="mySettings">
                    <article class="card">
                        <header class="card__head">
                            <h3 class="card__title">기본배송지설정</h3>
                            <a th:href="@{/my/info}" class="card__action">변경</a>
                        </header>
                        <div class="card__body">
                            <p>부산광역시부 산… 120</p>
                            <p>한빛빌딩 10층</p>
                        </div>
                    </article>

                    <article class="card">
                        <header class="card__head">
                            <h3 class="card__title">Email 설정</h3>
                            <a th:href="@{/my/info}" class="card__action">변경</a>
                        </header>
                        <div class="card__body">
                            <p>abc123@naver.com</p>
                            <p class="meta">(최종수정일 2021-12-10)</p>
                        </div>
                    </article>

                    <article class="card">
                        <header class="card__head">
                            <h3 class="card__title">휴대폰 설정</h3>
                            <a th:href="@{/my/info}" class="card__action">변경</a>
                        </header>
                        <div class="card__body">
                            <p>010 - 1234 - 1001</p>
                            <p class="meta">(최종수정일 2021-12-10)</p>
                        </div>
                    </article>
                </section>
            </section>
        </section>
        <!-- ■■■■■ 주문상세 팝업 ■■■■■ -->
        <article th:replace="~{my/modal/orderDetails.html}"></article>
        <!-- □□□□□ 주문상세 팝업 □□□□□ -->
        <!-- ■■■■■ 판매자정보 팝업 ■■■■■ -->
        <article th:replace="~{my/modal/sellerInfo.html}"></article>
        <!-- □□□□□ 판매자정보 팝업 □□□□□ -->
        <!-- ■■■■■ 문의하기 팝업 ■■■■■ -->
        <article th:replace="~{my/modal/sellerInquire.html}"></article>
        <!-- □□□□□ 문의하기 팝업 □□□□□ -->
        <!-- ■■■■■ 구매확정 팝업 ■■■■■ -->
        <article th:replace="~{my/modal/buyConfirm.html}"></article>
        <!-- □□□□□ 구매확정 팝업 □□□□□ -->
        <!-- ■■■■■ 상품평작성하기 팝업 ■■■■■ -->
        <article th:replace="~{my/modal/productReview.html}"></article>
        <!-- □□□□□ 상품평작성하기 팝업 □□□□□ -->
        <!-- ■■■■■ 반품신청 팝업 ■■■■■ -->
        <article th:replace="~{my/modal/returnRequest.html}"></article>
        <!-- □□□□□ 반품신청 팝업 □□□□□ -->
        <!-- ■■■■■ 교환신청 팝업 ■■■■■ -->
        <article th:replace="~{my/modal/exchangeRequest.html}"></article>
        <!-- □□□□□ 교환신청 팝업 □□□□□ -->
    </main>

<!-- ■■■■■ 푸터 ■■■■■ -->
    <div th:replace="~{my/_footer.html}"></div>
<!-- □□□□□ 푸터 □□□□□ -->



<!-- <%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%> -->


<!-- 강민철 2025-10-21 1029 -->
