<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지::포인트내역</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/my_page.css">
    <link rel="stylesheet" href="/css/my/myPage.css">
    <style>
        .sidebar nav a:nth-child(2) {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<!-- ■■■■■ 헤더 ■■■■■ -->
<div class="header-wrap" th:replace="~{my/_header.html}"></div>
<!-- □□□□□ 헤더 □□□□□ -->

<!-- 나의쇼핑정보 섹션 -->
<div th:replace="~{my/_shopping_info.html}"></div>

<!-- ■■■■■ 사이드바 ■■■■■ -->
<div th:replace="~{my/_sidebar.html}"></div>
<!-- □□□□□ 사이드바 □□□□□ -->
<main class="mincheolkang" style="display: flex; flex-wrap: nowrap;">
    <!-- ■■■■■ 사이드바 공간 ■■■■■ -->
    <div style="width: 25%; height: 1px; min-width: 240px;"></div>
    <!-- □□□□□ 사이드바 공간 □□□□□ -->
    <section class="main-content" style="margin-left: 10px;">
        <div class="ad-banner" style="width: 100%; height: 86px; text-align: center;">
            <img src="/images/adv.png" style="width: 810px; height: 100%;">
        </div>
        <article>
            <h3>포인트내역</h3>
            <form action="#" method="get" class="search-period">
                <span>기간별조회</span>

                <!-- 단위 버튼 (radio) -->
                <label><input type="radio" name="unit" value="1w"> 1주일</label>
                <label><input type="radio" name="unit" value="15d"> 15일</label>
                <label><input type="radio" name="unit" value="1m"> 1개월</label>

                <!-- 최근 5개월 -->
                <select name="recentMonths">
                    <option value="">-- 최근 5개월 중 선택 --</option>
                </select>

                <!-- 시작일 ~ 종료일 -->
                <input type="date" name="startDate"> ~
                <input type="date" name="endDate">

                <button type="submit">조회</button>
            </form>
            <!-- 포인트 내역 -->
            <table class="pointList myPageTable">
                <tr>
                    <th>날짜</th>
                    <th>구분</th>
                    <th>주문번호</th>
                    <th>적립금액</th>
                    <th>비고</th>
                    <th>유효기간</th>
                </tr>
                <tr th:each="point : ${pageResponseDTO.pointDTOList}" th:object="${point}">
                    <td>[[*{poOrderdate}]]</td>
                    <td>[[*{uhText}]]</td>
                    <td>[[*{uhPoNo}]]</td>
                    <td>[[*{uhChangePoint}]]</td>
                    <td>[[*{poState}]]</td>
                    <td>[[*{uhDday}]]</td>
                </tr>
            </table>
            <div class="Pagenation" style="text-align: center;">
                <a th:if="${pageResponseDTO.prev}" th:href="@{/my/point(pg=${pageResponseDTO.start - 1},
                unit=${pageResponseDTO.unit}?${pageResponseDTO.unit}:null,
                recentMonths=${pageResponseDTO.recentMonths}?${pageResponseDTO.recentMonths}:null,
                startDate=${pageResponseDTO.startDate}?${pageResponseDTO.startDate}:null,
                endDate=${pageResponseDTO.endDate}?${pageResponseDTO.endDate}:null)}">이전</a>
                &nbsp;&nbsp;
                <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                    <a th:href="@{/my/point(pg=${num},
                    unit=${pageResponseDTO.unit}?${pageResponseDTO.unit}:null,
                    recentMonths=${pageResponseDTO.recentMonths}?${pageResponseDTO.recentMonths}:null,
                    startDate=${pageResponseDTO.startDate}?${pageResponseDTO.startDate}:null,
                    endDate=${pageResponseDTO.endDate}?${pageResponseDTO.endDate}:null)}" th:class="${num == pageResponseDTO.pg ? 'current' : 'num'}">[[${num}]]</a>
                </th:block>
                &nbsp;&nbsp;
                <a th:if="${pageResponseDTO.next}" th:href="@{/my/point(pg=${pageResponseDTO.end + 1},
                    recentMonths=${pageResponseDTO.recentMonths}?${pageResponseDTO.recentMonths}:null,
                    startDate=${pageResponseDTO.startDate}?${pageResponseDTO.startDate}:null,
                    endDate=${pageResponseDTO.endDate}?${pageResponseDTO.endDate}:null)}">다음</a>
            </div>
        </article>
    </section>
</main>

<!-- ■■■■■ 푸터 ■■■■■ -->
<div th:replace="~{my/_footer.html}"></div>
<!-- □□□□□ 푸터 □□□□□ -->



<!-- <%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%> -->
<!-- 강민철 2025-10-20 1757 -->

