<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이페이지::나의리뷰</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/my/myPage.css">
    <style>
        .sidebar nav a:nth-child(5) {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<!-- ■■■■■ 헤더 ■■■■■ -->
<div class="header-wrap" th:replace="~{my/_header.html}"></div>
<!-- □□□□□ 헤더 □□□□□ -->
<!-- 마이페이지 요약 정보 -->
<!-- DB연결 예정 for each -->
<div style="width: 100%;  background-color: #f2f2f2; display: flex; flex-direction: column; position: sticky; top: 0; height: 100px;max-width: 1920px;
            margin: 0 auto;">
    <div class="summary" style="display: inline-flex; min-width: 1060px; margin: 0 auto; width: 100%;">
        <div style="margin-left: 5%; margin-right: auto; display: flex; align-items: center; height: 100px;">
            <span style="font-size: 24px; font-weight: bold;">나의쇼핑정보</span>
        </div>
        <div style="width: 25%; margin-right: 5%; display: flex; align-items: center;">
            <table style="border-collapse: collapse; text-align: center; width: 100%; height: 70%;">
                <colgroup>
                    <col style="width: 25%;">
                    <col style="width: 25%;">
                    <col style="width: 25%;">
                    <col style="width: 25%;">
                </colgroup>
                <tr>
                    <th style="border-right: solid 1px #d9d9d9;">주문</th>
                    <th style="border-right: solid 1px #d9d9d9;">쿠폰</th>
                    <th style="border-right: solid 1px #d9d9d9;">포인트</th>
                    <th>문의</th>
                </tr>
                <tr>
                    <td style="border-right: solid 1px #d9d9d9;">[[${userOrderCount}]]</td>
                    <td style="border-right: solid 1px #d9d9d9;">[[${userCouponCount}]]</td>
                    <td style="border-right: solid 1px #d9d9d9;"><span th:text="${#numbers.formatInteger(userPoints, 3, 'COMMA')}"></span></td>
                    <td>[[${userQnaCount}]]</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- ■■■■■ 사이드바 ■■■■■ -->
    <div th:replace="~{my/_sidebar.html}"></div>
    <!-- □□□□□ 사이드바 □□□□□ -->
</div>
<main class="mincheolkang" style="display: flex; flex-wrap: nowrap;">
    <!-- ■■■■■ 사이드바 공간 ■■■■■ -->
    <div style="width: 25%; height: 1px; min-width: 240px;"></div>
    <!-- □□□□□ 사이드바 공간 □□□□□ -->
    <section class="main-content" style="margin-left: 10px;">
        <div class="ad-banner" style="width: 100%; height: 86px; text-align: center;">
            <img src="/images/adv.png" style="width: 810px; height: 100%;">
        </div>
        <article>
            <h3>문의하기</h3>
            <form action="#" method="get" class="search-period">
                <span>기간별조회</span>

                <!-- 단위 버튼 (radio) -->
                <label><input type="radio" name="unit" value="1w"> 1주일</label>
                <label><input type="radio" name="unit" value="15d"> 15일</label>
                <label><input type="radio" name="unit" value="1m"> 1개월</label>

                <!-- 최근 5개월 -->
                <select name="recentMonths">
                    <option value="">-- 최근 개월수 선택 --</option>
                    <option value="1">최근 1개월</option>
                    <option value="2">최근 2개월</option>
                    <option value="3">최근 3개월</option>
                    <option value="4">최근 4개월</option>
                    <option value="5">최근 5개월</option>
                </select>

                <!-- 시작일 ~ 종료일 -->
                <input type="date" name="startDate"> ~
                <input type="date" name="endDate">

                <button type="submit">조회</button>
            </form>
            <!-- 문의하기 -->
            <table class="inquiryDetails myPageTable">
                <tr>
                    <th>번호</th>
                    <th>문의채널</th>
                    <th>문의유형</th>
                    <th>제목</th>
                    <th>작성일</th>
                    <th>상태</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>고객센터</td>
                    <td>주문 / 결제</td>
                    <td>신용카드 결제 중 오류가 난 경우 어떻게 하나요?</td>
                    <td>2022-12-12</td>
                    <td>검토 중</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>고객센터</td>
                    <td>주문 / 결제</td>
                    <td>신용카드 결제 중 오류가 난 경우 어떻게 하나요?</td>
                    <td>2022-12-12</td>
                    <td>답변완료</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>판매자 게시판</td>
                    <td>배송</td>
                    <td>배송기간이 보통 얼마나 걸리나요?</td>
                    <td>2022-12-12</td>
                    <td>답변완료</td>
                </tr>
            </table>
            <div class="Pagenation" style="text-align: center;">
                <a href="#">이전</a>&nbsp;&nbsp;
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>&nbsp;&nbsp;
                <a href="#">다음</a>
            </div>
        </article>
    </section>
</main>

<!-- ■■■■■ 푸터 ■■■■■ -->
<div th:replace="~{my/_footer.html}"></div>
<!-- □□□□□ 푸터 □□□□□ -->



<!-- <%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%> -->
<!-- 강민철 2025-10-21 1214 -->

