<div th:fragment="_header">
    <header class="header">

        <!-- 상단 광고 -->
        <div class="header_bar">
            <a href="#"><img th:src="@{/images/adv.png}" alt="메인 상단 광고"></a>
        </div>

        <!-- 우상단 작은 메뉴 -->
        <div class="top-menu">
            <!-- 로그인하지 않은 경우 -->
            <div th:unless="${#authentication.isAuthenticated() and #authentication.name != 'anonymousUser'}">
                <a href="/member/login">로그인</a>
                <a href="/member/join">회원가입</a>
            </div>
            
            <!-- 로그인한 경우 -->
            <div th:if="${#authentication.isAuthenticated() and #authentication.name != 'anonymousUser'}">
                <!-- 관리자인 경우 -->
                <span class="welcome-message" th:if="${@customUserDetailsService.isAdmin(#authentication.principal.username)}">
                    <a href="/admin/" style="text-decoration: none; color: #1976d2;">
                        <span th:text="${@customUserDetailsService.getUserName(#authentication.principal.username)}"></span>님 환영합니다.
                    </a>
                </span>
                <!-- 일반 사용자인 경우 -->
                <span class="welcome-message" th:unless="${@customUserDetailsService.isAdmin(#authentication.principal.username)}">
                    <span th:text="${@customUserDetailsService.getUserName(#authentication.principal.username)}"></span>님 환영합니다.
                </span>
                <a href="/my/home">마이페이지</a>
                <a href="/product/cart">장바구니</a>
                <a href="/member/logout">로그아웃</a>
            </div>
        </div>

        <!-- 헤더 메인 -->
        <div class="main-header">
            <div class="logo">
                <!--  로고 클릭 시 메인 페이지 이동 -->
                <a href="/"><img th:src="@{/images/logo.png}" alt="로고"></a>
            </div>
            <!-- 검색 -->
            <div class="search-bar">
                <input type="text" placeholder="검색">
                <button type="button">🔍</button>
            </div>
        </div>

        <!-- 헤더 메뉴 카테고리 -->
        <!--  상품 목록 이동 기능 추가 -->
        <nav class="header-menu">
            <a href="/product/list?type=hit">히트상품</a>
            <a href="/product/list?type=recommend">추천상품</a>
            <a href="/product/list?type=latest">최신상품</a>
            <a href="/product/list?type=popular">인기상품</a>
            <a href="/product/list?type=discount">할인상품</a>
        </nav>

    </header>
</div>
