<div th:fragment="_sidebar">
    <aside class="category-menu">
        <div class="category-item">
            <div>
                <i class="icon-tshirt">👕</i>
                <span class="main-category">패션</span>
            </div>
            <div class="sub-category-list">
                <label class="checkbox-label">
                    <input type="checkbox">
                    <span class="bullet"></span>
                    <span class="text">의류</span>
                </label>
                <label class="checkbox-label">
                    <input type="checkbox">
                    <span class="bullet"></span>
                    <span class="text">뷰티</span>
                </label>
            </div>
        </div>

        <div class="category-item">
            <div>
                <i class="icon-laptop">💻</i>
                <span class="main-category">가전</span>
            </div>
            <div class="sub-category-list">
                <label class="checkbox-label">
                    <input type="checkbox">
                    <span class="bullet"></span>
                    <span class="text">디지털</span>
                </label>
            </div>
        </div>

        <div class="category-item">
            <div>
                <i class="icon-food">🍎</i>
                <span class="main-category">식품</span>
            </div>
            <div class="sub-category-list">
                <label class="checkbox-label">
                    <input type="checkbox">
                    <span class="bullet"></span>
                    <span class="text">생필품</span>
                </label>
            </div>
        </div>

        <div class="category-item">
            <div>
                <i class="icon-house">🏠</i>
                <span class="main-category">홈</span>
            </div>
            <div class="sub-category-list">
                <label class="checkbox-label">
                    <input type="checkbox">
                    <span class="bullet"></span>
                    <span class="text">문구</span>
                </label>
                <label class="checkbox-label">
                    <input type="checkbox">
                    <span class="bullet"></span>
                    <span class="text">취미</span>
                </label>
            </div>
        </div>
    </aside>
</div>