<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품보기</title>
    <link rel="stylesheet"  href="/css/header.css">
    <link rel="stylesheet"  href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/product.css">

</head>
<body>

<th:block th:replace="~{inc/_header :: _header}"/>
<main class="product-page">
    <div class="main-container">

        <div class="sidebar-container">
            <th:block th:replace="~{inc/_sidebar :: _sidebar}"/>
            <aside class="best-product-list">
                <h3 class="page-title">베스트 상품</h3>
                <ul class="products">
                    <li class="best-product-item">
                        <img th:src="@{/images/로고.png}" alt="베스트 상품">
                        <div class="info">
                            <h4 class="name">상품명</h4>
                            <p class="price">
                                <span class="origin">30,000원</span>
                                <span class="discount">10% ↓</span>
                                <span class="sale">27,000원</span>
                            </p>
                        </div>
                    </li>
                    <li class="best-product-item">
                        <img th:src="@{/images/로고.png}" alt="베스트 상품">
                        <div class="info">
                            <h4 class="name">상품명</h4>
                            <p class="price">
                                <span class="origin">30,000원</span>
                                <span class="discount">10% ↓</span>
                                <span class="sale">27,000원</span>
                            </p>
                        </div>
                    </li>
                    <li class="best-product-item">
                        <img th:src="@{/images/로고.png}" alt="베스트 상품">
                        <div class="info">
                            <h4 class="name">상품명</h4>
                            <p class="price">
                                <span class="origin">30,000원</span>
                                <span class="discount">10% ↓</span>
                                <span class="sale">27,000원</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </aside>
        </div>
